<template name="masterLayout">
  <div class="mdl-layout__container">
    <div class="zeal-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      {{> Template.dynamic template=nav}}
      <main class="mdl-layout__content mdl-color--white-100">
        {{> Template.dynamic template=main}}
      </main>
    </div>
  </div>
</template>

<template name="landingLayout">
  {{> Template.dynamic template=main}}
</template>
