<template name="profile">
  <div>
    <ul class="zeal-list-item mdl-list">
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <div id="toProfile">
            <img src="{{profile.picture}}" alt="user name" style="max-height:44px; margin: 10px; border-radius: 4px; border: solid 2px white;" class="img-circle" />
            <span>{{userFirstName}}</span>
          </div>
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          star sign: {{startSign profile.birthday}}
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          birthday: {{profile.birthday}}
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          gender: {{profile.gender}}
        </span>
      </li>
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <button id="logout" class="mdl-button mdl-js-button mdl-button--raised">logout</button>
        </span>
      </li>
    </ul>
  </div>
</template>
