<template name="chatList">
  {{#each chats}}
    {{this.matchId}}
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">{{user this.matchId}} &amp; {{other this.matchId}}</h2>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Let's Talk!
        </a>
      </div>
    </div>
  {{/each}}
</template>

<template name="chat">

</template>
