@import "{}/client/stylesheets/imports/login.import.scss";
@import "{}/client/stylesheets/imports/nav.import.scss";
@import "{}/client/stylesheets/imports/_matchModal.import.scss";

/* CSS declarations go here */

.login-cover {
  width: 100%;
  height: 100%;
  background-color: rgba(100, 100, 100, 0.2);
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
}

.login-button {
  top: 50%;
  position: relative;
  background-color: #3B5998;
  color: white;
  line-height: 40px;
}

.mdl-layout__header-row {
  text-align: center;
  display: block;
}

.mdl-layout-title {
  line-height: 68px;
}

.profile-link {
  cursor: pointer;
}
