<template name="nav">
    <header class="zeal-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Home</span>
      </div>
    </header>
    <div class="zeal-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header id="toProfile" class="zeal-drawer-header">
        <img src="{{currentUser.profile.picture}}" class="zeal-avatar">
        <span>{{currentUser.profile.firstname}}</span>
      </header>
      <nav class="zeal-navigation mdl-navigation mdl-color--blue-grey-800">
        <!-- <a class="mdl-navigation__link" href="/"><i class="mdl-color-textred-400 material-icons" role="presentation">home</i>Home</a> -->
        <a class="mdl-navigation__link" href="/"><i class="mdl-color-text--red-400 material-icons" role="presentation">favorite</i>Match</a>
        <a class="mdl-navigation__link" href="/chats"><i class="mdl-color-text--red-400 material-icons" role="presentation">question_answer</i>Chat</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--red-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
</template>
