<template name="login">
  <!-- fullscreen background video -->
  <div class="fullscreen-bg">
    <video loop muted autoplay poster="/img/videoframe.jpg" class="fullscreen-bg__video">
        <source src="/video/landing_video.webm" type="video/webm">
        <source src="/video/landing_video.mp4" type="video/mp4">
        <source src="/video/landing_video.ogv" type="video/ogg">
    </video>
  </div>
  <!-- / fullscreen background video -->
  <!-- login cover -->
  <div class="login-cover">
    <div style="text-align:center; position:relative; top: 30%;">
      <div class="landing-logo">
        <img src="/img/Zlogo.png" />
      </div>
      <h4>Real dating made simple.</h4>
      <br/>
      <button id="loginFacebook" class="mdl-button mdl-js-button mdl-button--raised login-button">
        <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
      </button>
    </div>
  </div>
  <!-- / login cover -->
</template>
