<template name="matchModal">
    <div id="MatModal-container">
        <span class="MatRound"></span>
        <div class="MatModal-content">
            <a href="#" id="close-MatModal">Close</a>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <h3>It's a match!</h3>
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <img src="{{currentUser.profile.picture}}" class="modal-avatar" alt="">
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <img src="{{user.profile.picture}}" class="modal-avatar" alt="" style="-webkit-filter: blur(15px); filter: blur(15px);">
                </div>
            </div>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <button data-id="chat" class="go-to-chat mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Let's talk!</button>
                </div>
            </div>
        </div>
    </div>
</template>
