<template name="match">
    <button id="generateMatch">get a match</button>
    match: {{currentMatch}}
    <br>
    {{#if users}}
        {{#each users}}
            {{#if userMatches this}}
                {{> matchModal user=this}}
            {{/if}}
        {{/each}}
    {{else}}
        There is no match available at the moment. Please come back soon.
    {{/if}}
</template>
