body, html{
    height:100%;
    font-size:12px;
    font-family: helvetiva, verdana, sans-serif;
    overflow:hidden;
}
a {text-decoration:none;}
ul, li {list-style:none;}
p, h2 {margin-bottom:12px;}
#nav-container {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px;
    border-bottom:1px solid #3498db;
    background:#2c3e50;
    overflow:hidden;
    box-sizing:border-box;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
}
#burger {
    display:block;
    position: relative;
    width:25px;
    height:25px;
    text-indent:-9999px;
    overflow:hidden;
}
#burger:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 100%;
    height: 0.25em;
    background: #fff;
    box-shadow:
    0 0.6em 0 0 #fff,
    0 1.2em 0 0 #fff;
}
#nav-container ul {
    display:block;
    position:absolute;
    top:0;
    left:65px;
    min-width:250px;
    border-left:1px solid #34495e;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
    opacity:1;
}
#nav-container ul li {
    display:block;
    float:left;
    padding:0 10px;
    border-right:1px solid #34495e;
}
#nav-container ul li a {
    display:block;
    height:65px;
    line-height:65px;
}
#content {
    padding:35px 110px;
    width:100%;
    height:100%;
    margin:0 auto;
    margin-top:65px;
    overflow:auto;
    box-sizing:border-box;
    background:#2980b9;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
}
.MatModal {
    display:block;
    float:left;
    margin-right:20px;
    width:70px;
    height:70px;
    line-height:70px;
    text-align:center;
    color:#fff;
    background:#3498db;
    overflow:hidden;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
}
#MatModal-container {
    display:none;
    position:fixed;
    width:40vw;
    height:45vh;
    top:50%;
    align-items: center;
    overflow:hidden;
    -moz-transition:350ms;
    -webkit-transition:350ms;
    transition:350ms;
}
#MatModal-container.seeModal {
    top:25%;
    -webkit-box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
    box-shadow: 0 3px 8px 2px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.MatRound {
    display:block;
    position:absolute;
    width:1%;
    height:0;
    padding-top:1%;
    top:50%;
    left:50%;
    background:#fff;
    -moz-border-radius:10em;
    -webkit-border-radius:10em;
    border-radius:10em;
    -moz-transition:850ms;
    -webkit-transition:850ms;
    transition:850ms;
}
.show-MatModal .MatRound {
    width:150%;
    padding-top:150%;
    top:-25%;
    left:-25%;
}
.MatModal-content {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    overflow:auto;
    padding:30px;
    -moz-transition:1s;
    -webkit-transition:1s;
    transition:1s;
}
.show-MatModal .MatModal-content {opacity:1;}
.MatModal-content * {color:#999!important;}
#close-MatModal {
    display:block;
    position:absolute;
    top:20px;
    right:20px;
    color:#3498db;
}

.modal-avatar {
    border-radius: 50%;
    max-width: 100px;
    max-height: 100px;
}
