html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.zeal-avatar {
  width: 100px;
  height: 100px;
  border-radius: 24px;
}
.zeal-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.zeal-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.zeal-drawer .mdl-menu__container {
  z-index: -1;
}
.zeal-drawer .zeal-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.zeal-drawer .mdl-menu .mdl-menu__item {
  display: flex;
  align-items: center;
}
.zeal-drawer-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  height: 150px;
  align-items: center;
}
.zeal-avatar-dropdown {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.zeal-navigation {
  flex-grow: 1;
}
.zeal-layout .zeal-navigation .mdl-navigation__link {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.zeal-layout .zeal-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.zeal-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.zeal-content {
  max-width: 1080px;
}

.zeal-charts {
  align-items: center;
}
.zeal-chart:nth-child(1) {
  color: #ACEC00;
}
.zeal-chart:nth-child(2) {
  color: #00BBD6;
}
.zeal-chart:nth-child(3) {
  color: #BA65C9;
}
.zeal-chart:nth-child(4) {
  color: #EF3C79;
}
.zeal-graphs {
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
_:-ms-input-placeholder, :root .zeal-graphs {
  min-height: 664px;
}
_:-ms-input-placeholder, :root .zeal-graph {
  max-height: 300px;
}
/* TODO end */
.zeal-graph:nth-child(1) {
  color: #00b9d8;
}
.zeal-graph:nth-child(2) {
  color: #d9006e;
}

.zeal-cards {
  align-items: flex-start;
  align-content: flex-start;
}
.zeal-cards .zeal-separator {
  height: 32px;
}
.zeal-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.zeal-cards ul {
  padding: 0;
}
.zeal-cards h3 {
  font-size: 1em;
}
.zeal-updates .mdl-card__title {
  min-height: 200px;
  background-image: url('images/dog.png');
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.zeal-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

.zeal-options h3 {
  margin: 0;
}
.zeal-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89);
}
.zeal-options ul {
  margin: 0;
  list-style-type: none;
}
.zeal-options li {
  margin: 4px 0;
}
.zeal-options .material-icons {
  color: rgba(255, 255, 255, 0.89);
}
.zeal-options .mdl-card__actions {
  height: 64px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
}
